* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    width: 100%;
    height: 100vh;
    background-color: #ece4ec;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start {
    TEXT-ALIGN: center;
}

#center {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
}

#center h4 {
    font-size: x-large;
}

#center span {
    color: #ff0076;
}

#contenar {
    width: 700px;
    height: 70vh;
    margin: 5px;
    border: 2px solid #ff0076;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: var(--primary-color);
}

#contenar #start dl dt {
    font-size: 21px;
    margin: 15px 0px 15px 20px;
    color: #67696b;
}

#contenar #start dl dt::first-letter {
    font-size: 26px;
}

#contenar #start dl input {
    margin: 0px;
    padding: 2px;
    text-align: center;
    color: rgb(255, 0, 0);
    width: 60px;
    border: 2px solid #ff0076;
    font-size: 15px;
    border-radius: 10px;
}

#contenar #start img {
    width: 250px;
    height: 250px;
    border-radius: 10px 25px;
    border: 1px solid #ff0076;
    margin: 15px 0 10px 25px;
    transition: 0.8S;
}
#contenar #start img:hover {
    transform: scale(1.1);
}
#end{
    display: flex;
    flex-direction: column;
    justify-content: center;    align-items: center;
}
#contenar #end h2 {
    font-family: cursive;
    margin: 10px;
}

#contenar #end h2 span {
    color: #ff0076;
}

#contenar #end h3 {
    margin: 5px 10px 5px 30px;
}

#contenar #end h4 {
    margin: 0px 10px 15px 35px;
    font-size: 18px;
    color: #000;
}

#contenar #end h4::first-letter {
    font-size: 20px;
    border-bottom: 2px solid #ff0076;
    font-size: x-large;
}

#contenar #end p {
    font-size: 18px;
    margin: 15px;
    margin-bottom: 25PX;
}



section {
    background-color: #ffffff;
}

.Products-Edit{
    display: flex;
    gap: 20px;
}
.Products-Edit a{
    width: 50px;
    color: #000;
    transition: 0.5s;
}

.Products-Edit a:hover{
    color: #ff0076;
}

main {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: var(--color-eee, #eee);
    align-items: center;
    gap: 10px;
    padding: var(--start-page, 0 10px);
    box-shadow: var(--box-shadow-lne, 1px 1px 5px 0px #333);
    text-transform: capitalize;
  }
  .track {
    display: inherit;
    align-items: var(--align-it, center);
  }
  .track > h2,
  .track > span,
  .track > a {
    margin-right: 10px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 15px;
  }
  main > h2 {
    color: #67696b;
  }
  main > a,
  main > p {
    font-weight: bold;
  }
@media (max-width: 768px) {
    #contenar {
        width: auto;
        height: auto;
        display: block;
    }
    .main-section {
        height: 88vh;
    }
}

@media (max-height: 461px) {
    .main-section {
        height: auto;
        margin: 50px;
    }
    #contenar{
        height: auto;
    }
}

