:root {
  --primary-color: #ece4ec;
  --secondary-color: #ff0076;
  --thirdary-color: #67696b;
}
*{
  box-sizing: border-box;
}
/* #353133 */
body {
  margin: 0px;

}

p {
  margin: 0px;
}

#top_h {
  background-color: var(--thirdary-color);
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
}

.offcanvas-header {
  background-color: #ffffff;
  border-radius: 9px;
}

.offcanvas-body {
  background-color: #f9f3fc;
  border-radius: 9px;
}

.dropdown-item {
  margin-bottom: 10px;
  color: aliceblue;
}

.footer {
  background-color: var(--thirdary-color);
  border-radius: 5px;
  display: block;
  width: 100%;
  bottom: 0%;
  margin-top: 20px;
  bottom: .2rem;
  color: #ece4ec;
}

.footer p {
  padding: 11px;
}

section {
  margin: 2%;
  /* background-image: linear-gradient(to top, #ff83bc 0%, #f9f3fc 100%);  margin: 2%; */
  border-radius: 20px;
  /* box-shadow: 0px 1px 15px var(--secondary-color);
border-width: 2px;
border-style: solid;
border-color: var(--secondary-color);*/
  background-color: var(--primary-color);
  margin: 8px;
  margin-top: 20px;
}

.header_section {
  display: flex;
  justify-content: space-between;
}

.shop_now {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  width: 150px;
  height: 35px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-color: var(--secondary-color);
  transition: 0.5s;
}

.shop_now:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);

}

#head_sec {
  padding: 10px;
}

.first-div {
  color: var(--thirdary-color);
}

form {
  display: flex;
  align-items: center;
  gap: 10px;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

section div img {
  width: 300px;
  height: 300px;
}

section div h1 {
  COLOR: var(--thirdary-color);
  FONT-SIZE: 42PX;
  font-family: math;
  margin: 0;
}

section div h1 span {
  color: #ff0076;
}

nav div a {
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 21px;
  text-align: center;
  text-decoration: none;
  width: 160px;
}

nav .container {
  color: #f9f3fc;
  z-index: 999999;
}

.main-section {
  min-height: 79vh;
  display: flex;
  justify-content: center;
  align-items: center;
  FLEX-DIRECTION: column;
}


#shop_div {
  margin-top: -46px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

li {
  padding: 8px;
}

li img {
  margin-right: 50px;
  cursor: pointer;
  transition: 0.5s;
}
li img:hover{
width: 25px;
height: 25px;
}

.navbar div ul li a {
  text-decoration: none;
  color: white;
  width: 50px;
  TRANSITION: 0.5S;

}

.navbar div ul li a:hover {
  color: var(--secondary-color);
}


#scrollLabel {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--thirdary-color);
  color: #fff;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
  /* display: none; */
}



body:target #scrollBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: block;
}

footer center p a {
  color: aliceblue;
  text-decoration: none;
}


@media (max-width: 768px) {
  section div h1 {
    FONT-SIZE: 25PX;
  }

  section div img {
    width: 250px;
    height: 250px;
  }

  section {
    margin-top: 18px;
  }

  li img {
    margin-right: 30px;
  }

  #scrollLabel {
    display: flex;

  }
}

@media (max-height: 461px) {
  .main-section {
    height: auto;
    margin: 50px;
  }
}