input[type=text],
select,
input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form {
    border: 1px solid #ccc;
    max-width: 500px;
    padding: 15px;
    border-radius: 20px;
    display: block;
    margin: 10px;

}

.body {
    min-height: 100vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

span{
    color: red;
}
center a{
    text-decoration: none;
    color: rgb(0, 67, 125);
    margin-right: 20px;
}